<div *ngIf="groups && groups.length" >
  <div *ngFor="let group of groups" class="panel panel-default group-panel">
    <div class="panel-heading">
      <h3 class="panel-title">{{group.name}}</h3>
    </div>
    <div class="panel-body">
      <div>{{group.description}}</div>
      <div style="display: inline;">
        <a [routerLink]="[ '/projects/request', group.id ]">
          <button type="button" class="btn btn-default">
            Request project creation
          </button>
        </a>
        <button (click)="[getProjects(group.id)]" type="button" class="btn btn-success">Select</button>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="projects && projects.length">
  <div *ngFor="let project of projects" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{project.name}}</h3>
    </div>
    <div class="panel-body">
      <div>{{project.description}}</div>
      <hr/>
      <app-project-time-report [projectId]="project.id"></app-project-time-report>
      <app-project-engagement-points [projectId]="project.id" [members]="project.members" [remainingPoints]="10"></app-project-engagement-points>
      <app-survey [groupId]="selectedGroupId" [projectId]="project.id" [projectMembers]="project.members"></app-survey>
    </div>
  </div>
</div>