<span *ngIf="!groups"><em>Loading owned groups...</em></span>
<span *ngIf="!groups.length">No owned groups found</span>
<div *ngIf="groups && groups.length" class="panel panel-default">
  <div class="panel-heading">Owned groups</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Url</th>
        <th>Path</th>
        <th>Description</th>
        <th>Parent Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups">
        <td>{{group.id}}</td>
        <td>{{group.name}}</td>
        <td><a [attr.href]="group.web_url">Link</a></td>
        <td>{{group.path}}</td>
        <td>{{group.description}}</td>
        <td>{{group.parent_id}}</td>
      </tr>
    </tbody>
  </table>
</div>