<h1 id="welcome-to-progresstracker">Welcome to ProgressTracker</h1>
<p>This application was designed to aid with tracking students&#39; ability to work in a team. For such a purpose, there were a few mechanisms prepared:</p>
<ul>
<li>Time reporting - used to track time spent on project by users. Helpful to determine if student spends too much or too little time on their work</li>
<li>Engagement points - used to specify the amount of work contributed into the project by teammates</li>
<li>Work descriptions - used by the student to specify their responsabilities and overall performance during work period. After submitting such a description, other teammembers <em>might</em> be abble to <strong>comment</strong> on it, if they find the description is incorrect</li>
<li>Surveys - used to determine what was the overall performance of the team. This is also the place to add any additional feedback about the project.</li>
</ul>
<h3 id="what-do-i-do-">What do I do?</h3>
<p>After visiting this site, you might ask yourself what are the next steps. Depending on your situation, you can <strong>(with Owner mode DISABLED)</strong>:</p>
<ul>
<li>Enter the &#39;Groups&#39; tab and request to join a group, by inputting its code that was provided by the teacher</li>
<li>If you have already joined a group, you can list its projects by entering the &#39;Projects&#39; tab and selecting the group you wish to list the projects for. Here you can also request a new project creation, if enabled by the teacher.</li>
<li>You can also perform various activities after entering the projects view. Click on various activies to expand them, then follow the instruction inside each of them.</li>
</ul>
<p>If you find any bugs, have any suggestions regarding the application, please contact pogrodni@mion.elka.pw.edu.pl</p>

